<!-- Create your form here -->
<form action="<%= '/students' %>" method="POST"> 
    <label>"Student Form"</label>
    <input type="text" name= "first_name">
    <input type="text" name= "last_name">
  <%# this is how the forms should look like %>
  <%# <input type= "text" name="(what ever is inside the params for show method)"> %>
    <input type="submit" value="Submit Student">
</form>